.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
  background-color: #000000;
  color: rgb(233, 227, 227);
  font-family: helvetica
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #f7ecec;
  color: rgb(10, 10, 10);
  font-family: helvetica
}

#footer p {
  margin: 0;
  font-size: 20px;
}
